body {
    font-family: 'Arial', sans-serif;
    background-color: #fefbd8;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

section {
    margin-bottom: 2em;
}

#gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery img {
    width: 100%;
    max-width: 300px;
    margin: 0.5em;
    border-radius: 10px;
}

footer {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff3b30;
}
